.ad-placeholder {
    width: 100%;
    max-width: 728px;
    height: 90px;
    background-color: var(--secondary-color);
    border: 1px dashed var(--border-color);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
    font-style: italic;
    color: #888;
}
